#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=nvidia log file
Icon=nvidia-settings
Exec=kdesu sh /usr/bin/nvidia-bug-report.sh
Terminal=false
StartupNotify=true
Categories=Utility;