[Desktop Entry]
Name=Tuxemon
Type=Application
Exec=python /usr/share/tuxemon/tuxemon.py
Icon=resources/gfx/icon
Comment=Open source monster-fighting RPG
Terminal=false
Categories=games;
